
:root {
    /* --item-size: 2.9rem; */
    --max-width: 720px;
    --item-size: 10vw;
    --item-max-size: 70px;
}
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body {
    font-size: 100%;
    height: 100%;
}

body {
    font-family: 'Arial', 'Bookman Old Style', 'Varela Round';
    background-color: #435366;
    background-image: linear-gradient(0deg, var(--gradient-top), var(--gradient-bottom));
    user-select: none;
}
body::before {
    content: '';
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(var(--color) 20%, transparent 0%), radial-gradient(var(--color) 20%, transparent 0%);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    opacity: 0.1;
    animation: bodyBgCirleAniamte 2.6s linear infinite;
}
@keyframes bodyBgCirleAniamte {
    0% {
        background-position: 0 0, 15px 15px;
    }
    100% {
        background-position: 0 30px, 15px 45px;
    }
}
ul {
    list-style: none;
}
#main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    transform: scale(0);
    opacity: 0;
    transition: transform, opacity .3s;
    position: relative;
    z-index: 2;
}
#main header,
#main footer {
    height: 8vh;
    text-align: center;
    font-weight: bold;
}
#main header {
    height: 7vh;
    border-top: 3px solid var(--gradient-bottom);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px rgba(255, 255, 255, 0.1);
}
#middle {
    position: relative;
    text-align: center;
    height: calc(100% - 7vh);
}
#container {
    width: auto;
    height: auto;
    max-width: var(--max-width);
    max-height: var(--max-width);
    position: relative;
    display: inline-block;
    /* margin-top: 8vw; */
    /* border: 2px solid var(--border-color); */
    /* background-color: rgba(255, 255, 255, 0.6); */
    /* transition: filter .3s; */
    /* box-shadow: 0 0 80px var(--gradient-top); */
}
#num-select__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
	background-image:
        linear-gradient(90deg, transparent var(--gra-y-1), var(--gra-color) var(--gra-y-1), var(--gra-color) var(--gra-y-2), transparent var(--gra-y-2)),
        linear-gradient(transparent var(--gra-x-1), var(--gra-color) var(--gra-x-1), var(--gra-color) var(--gra-x-2), transparent var(--gra-x-2));
}
#container section{
    height: var(--item-size);
    max-height: var(--item-max-size);
    overflow: hidden;
}
#container span,
#num-select__group li,
#tool-item__group li {
    font: 100%;
    font-weight: bold;
    box-sizing: border-box;
    width: var(--item-size);
    height: var(--item-size);
    max-width: var(--item-max-size);
    max-height: var(--item-max-size);
    /* line-height: var(--item-size);
    text-align: center;
    display: inline-block; */
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    border-style: solid;
    border-color: var(--border-color);
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.5),inset -3px -3px rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
    /* background-color: rgba(255, 255, 255, 0.6); */
}
#container span.warring-tip{
    position: relative;
    background-color: transparent;
}
#container span.warring-tip::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    animation: bgAnimate 2s 3;
}
@keyframes bgAnimate {
    0% {
        box-shadow: inset 2px 2px rgba(255, 255, 255, 0),inset -2px -2px rgba(255, 255, 255, 0);
        background-color: transparent;
    }
    50% {
        box-shadow: inset 2px 2px rgba(255, 255, 255, 0.5),inset -2px -2px rgba(255, 255, 255, 0.5);
        background-color: #d8c81d90;
    }
    100% {
        box-shadow: inset 2px 2px rgba(255, 255, 255, 0),inset -2px -2px rgba(255, 255, 255, 0);
        background-color: transparent;
    }
}
#container span {
    border-right-width: 1px;
    border-bottom-width: 1px;
}
#container span.item-animate {
    opacity: 0;
    transform: scale(1);
    animation: itemAnimate 1s ease-in var(--item-animate-delay) forwards;
}
@keyframes itemAnimate {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
#container span.num-item__stand {
    color: var(--color);
    background-color: var(--bg-color);
    cursor: default;
    /* box-shadow: inset 1px 1px rgba(255, 255, 255, 0.7); */
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.9),inset -3px -3px rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
#container span.num-item[data-tool-color='1'] {
    background-color: var(--tool-color1);
}
#container span.num-item[data-tool-color='2'] {
    background-color: var(--tool-color2);
}
#container span.num-item:hover,
#container li:hover {
    background-color: #eee;
}
#container section span:nth-child(3n) {
    border-right-width: 3px;
}
#container section span:last-child {
    border-right-width: 0;
}
#container section:nth-child(3n) span {
    border-bottom-width: 3px;
}
#container section:nth-child(9) span {
    border-bottom-width: 0;
}
#tool-item__group,
#num-select__group {
    color: var(--color);
    background-color: #eee;
    position: fixed;
    z-index: 5;
    top: var(--y);
    left: var(--x);
    width: 30vw;
    max-width: 214px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: var(--scale);
    transition: transform var(--second);
    border-radius: 5px;
}
#num-select__group li {
    overflow: inherit;
    border-right-width: 1px;
    border-bottom-width: 1px;
}
#num-select__group li:nth-child(3n) {
    border-right-width: 0;
}


#tool-item__group li {
    width: 15vw;
    max-width: 107px;
    box-shadow: inset 3px 3px white, inset -3px -3px white;
}
#tool-item__group li:nth-child(1) {
    background-color: var(--tool-color1);
}
#tool-item__group li:nth-child(2) {
    border-left: 1px solid var(--border-color);
    /* border-right: 1px solid var(--border-color); */
    background-color: var(--tool-color2);
}
#tool-item__group li:last-child {
    border-top: 1px solid var(--border-color);
    width: 30vw;
    max-width: 214px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    box-sizing: content-box;
}
#tool-item__group li:last-child::after {
    content: 'clear';
}