@media screen and (min-width:415px)
	body
		background-color #eee
	#app
		background-color #fff
		width 414px
		height 736px
		position relative
		left 50%
		top 50%
		margin -368px 0 0 -207px
		border 1px solid #ddd
		box-shadow 0 0 3px rgba(0,0,0,.1)

@media screen and (max-width:320px)
	.userinfo
		li
			margin-top 8px
			&.Avatar
			&.Avatar img
				width 100px
				height 100px
	.skills
		margin-top -1.8%
		li
			margin-top 6px
			padding-left 48px
			p
				font-size 10px
				line-height 1.6em
			span
				top 10px
				i
					font-size 36px
	.works
		dd p
			font-size .8em
			line-height 1.8em
	.about
		p.des
			font-size 14px
		p.thx
			font-size 36px
			bottom -35%
	// 作品
	.projects div
		height 112px